.adicionar__cancelar__btn {
  display: flex;
  justify-content: space-around;
}

.cards__comandas {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.nav__comandas {
  position: fixed;
  top: 80vh;
  width: 50%;
  min-width: 70vw; 
  height: 50px;
  display: flex;
  justify-content:center;
  column-gap: 10px;
  color: var(--dark);
}

.nav__comandas__btn {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 5px var(--dark);
  background-color: var(--light);
}

.nav__comandas__img {
  width: 30px;
}

#comandas__fechadas {
  cursor: pointer;
}

.comanda__fechada__txt {
  color: var(--dark-inactive);
}