.menu__item {
  width: 25px;
  height: 100%;
}

.menu__item img {
  width: 100%;
}

.adicionar__cancelar {
  display: flex;
  justify-content: space-around;
}

.adicionar__cancelar button {
  color: var(--dark);
  cursor: pointer;
}


#lista {
  width: 100%;
  display: flex;
  align-content: flex-start;
  row-gap: 10px;
  flex-wrap: wrap;
}

#add__wrapper {
  position: fixed;
  top: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__input:focus {
  outline: var(--dark-inactive) solid 1px;
  outline-offset: -2px;
}