.container {
  max-width: 700px;
  margin: auto;
} 

.header {
  max-width: 700px;
  margin: auto;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
  background-color: var(--dark);
}

.main {
  max-width: 700px;
  height: calc(100vh - 40px);
  border: solid red;
}